
:root {
    font-size: 16px;
    --page-margin-left: 10px;
    --margin-zero: 0;
    --padding-zero: 0;
    --body-fonts: 'Quicksand', Arial, Helvetica, sans-serif;
    --header-fonts: 'Space Mono', monospace;
    --h1-size: 3em;
    --h2-size: 1.5em;
    --p-size: 1em;
    --h1-weight: 700;
    --h2-weight: 500;
    --p-weight: 400;
    --section-margin: 0 0 30px 0 ;
    --link-color: #fff;
    --header-color: #853a12;
    --menu-color: #0e5a56;
    --header-box-height: 50px;
    --header-box-margin: 5px;
}

body {
    font-family: var(--body-fonts);
    margin: auto;
    padding: var(--padding-zero);
    max-width: 1920px;
    padding-top: 70px;
}
h1 {
    font-weight: var(--h1-weight);
    font-size: var(--h1-size);
    font-family: var(--header-fonts);

    margin: var(--margin-zero);
}

h2 {
    font-weight: var(--h2-weight);
    font-size: var(--h2-size);
    font-family: var(--header-fonts);
}

p {
    font-weight: var(--p-weight);
    font-size: var(--p-size);
    font-family: var(--body-fonts);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:visited {
    color: var(--link-color);
}

.section__container {
    margin: var(--section-margin);
    scroll-margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    justify-content: space-between;
    align-content: flex-end;
    position: relative;
    }

.section__header-box {
    position: absolute;
    top: 0;
    left: 0;
    height: fit-content;
    background-color: #853a12;
    opacity: .8;
    width: fit-content;
    color: #fff;
}

.textwrap {
    background-color: #ffffffe0;
    font-size: var(--p-size);
    font-weight: bold;
    width: 40%;
    padding: 0 30px;
    margin-bottom: 50px;
}
.valmynd {
    background-color: #0e5a56;
    margin: var(--margin-zero);
    padding: var(--padding-zero);
    line-height: 64px;
    position: fixed;
    width: 100%;
    max-width: 1920px;
    top: 0;
    z-index: 100;
}
.valmynd > li {
    display: inline;
    list-style: none;
    font-family: var(--header-fonts);
    font-weight: bolder;
    font-size: 1.2rem;
    padding-left: 10px;
    opacity: .8;
}

.menu__item:hover {
    opacity: .5;
}


.image--style {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner__image {
    background-image: url(resources/images/banner_workspace.jpg);
}

.upprit__image {
    background-image: url(resources/images/wireframe_background.jpg);
}

.litir__image {
    background-image: url(resources/images/colors.jpg);
}

.stavslag__image {
    background-image: url(resources/images/typography.jpg);
}

.stavsnid__image {
    background-image: url(resources/images/style_background.jpg);
}

.tilfar__image {
    background-image: url(resources/images/tilfar_background.jpg);
}

.sample-box {
    display: flex;
    flex-direction: column;
    font-size: var(--p-size);
    font-weight: bold;
    width: 40%;
    margin-bottom: 50px;
    padding: 0 30px;
    background-color: #ffffffe0;


}

.sample-box__sample {
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}

.sample-color {
    flex: 0 1 50%;
}

.sample-color--green {
    background-color: var(--menu-color);
}

.sample-color--brown {
    background-color: #853a12;
}

.sample-text {
    font-size: var(--p-size);
}

.sample-text--quicksand {
    font-family: var(--body-fonts);
}

.sample-text--space-mono {
    font-family: var(--header-fonts);
}

.sample-text--bold {
    font-weight: bold;
}

.sample-text--italic {
    font-style: italic;
}

.sample-box__stavsnid--smalltext {
    font-size: var(--p-size)!important;
    margin:16px 0 0 0!important;
}

@media only screen and (max-width: 1130px) {
    body {
        width: 100%;
        min-width: 700px;
    }

    .valmynd {
        min-width: 700px;
    }

    .desktop-only {
        display: none;
    }
    .section__container {
        height: 1000px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding: 0 15px;

    }

    .textwrap {
        width: 100%;
        text-align: center;
        font-size: var(--h2-size);
        font-weight: var(--h2-weight);
        font-family: var(--header-fonts);
    }

    .sample-box {
        width: 100%;
    }

    .sample-box__sample {
        justify-content: center;
    }

    .content--left {
        flex: 0 1 40%;
        text-align: right;
        margin-right: 5px;
    }

    .content--right {
        flex: 0 1 40%;
        margin-right: 5px;
    }

}